.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  span {
    color: var(--accent-color);
  }
}

.logo--color-dark {
  color: var(--logo-color);
}

.logo--color-light {
  color: var(--third-color);
}
