.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-item {
  display: flex;
  width: 170px;
  height: 92px;
}

.client-logo {
  fill: var(--icon-main-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
  .client-link:hover &,
  .client-link:focus & {
    fill: var(--accent-color);
  }
}

.client-link {
  @extend %flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--client-border-color);
  border-radius: 4px;
  transition: border var(--transition-duration)
    var(--transition-timing-function);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    filter: drop-shadow(0px 4px 4px var(--active-shadow-color));
  }
}
